* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: 500;
	font: inherit;
  vertical-align: baseline;
  font-family: "Hanken Grotesk", sans-serif;
}

body {
  background: linear-gradient(white,hsla(234, 85%, 45%, .2));
  height: 100vh;
}
